<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {%if name == '용흠'%}
    <h1>반장님!</h1><h2>안녕하십니까!</h2>
    <img src = "https://i1.sndcdn.com/artworks-000049909608-wpupq6-t500x500.jpg"/>
    {% else %}
    <h2>{{name}} ㅎㅇ</h2>
    <img src = "http://ohfun.net/contents/article/images/2017/0126/1485411139374562.jpeg"/>
     {% endif %}
</body>
</html>