<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>하고싶은 걸 골라</h1>
    <form action = '/self2'>
        <input type = "radio", name = "type" value = "1">가위바위보</input>
        <input type = "radio", name = "type" value = "2">숫자 야구</input>
        <input type = "radio", name = "type" value = "3">사진 검색</input>
        
        <input type = "submit", value = "선택">
    </form>
</body>
</html>